{% extends "registration/base.html" %}
{% block content %}
    <div id="signUpBlock" class="firstColOfOne">
        <div class="dataBox">
            <div class="outerContainer">
                <div class="innerContainer">
                    <div class="blockTitle">
                        <h3>Registration complete</h3>
                    </div>
                    <div class="message">
                        <h1>Check your email</h1>

                        <p class="alert info">An activation link has been sent to the email address you supplied, along
                            with instructions for activating your account.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
