<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<body>
<div id="comments_post">
    <h3>Leave a comment:</h3>

    <form method="POST">
        <div id="user">
            Name: <input name="name" size="27"><br/>
            <fb:login-button></fb:login-button>
        </div>
        <textarea name="comment" rows="5" cols="30"></textarea><br/>
        <input type="submit" value="Submit Comment">
    </form>
</div>
<script type="text/javascript"
        src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script>
<script type="text/javascript">
    FB.init("b0ed2a4200dc841502afd731ef1a551e", "xd_receiver.html");
</script>
</body>
</html>