{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n common %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}admin/css/dashboard.css"/>{% endblock %}

{% block content %}
    <div id="content-main">
        <h1>Dodaj auta dealerowi</h1>
        <table id="change-history">
            <thead>
            <tr>
                <th scope="col" style="width: 250px">{% trans 'Name' %}</th>
                <th scope="col" style="width: 50px">{% trans 'Amount' %}</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <form action="{% url admin_stats_add_cars %}" method="post">
                {% for item in items %}
                    <tr>
                        <td>
                            <pre style="padding:0; margin:3px 0 0 0;">{{ item.name }} (+{{ item.respect }})</pre>
                        </td>
                        <td><input type="text" size="2" value="0" name="car_{{ item.id }}"/></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Generate"/></td>
                    <td>&nbsp;</td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
{% endblock %}
