{% extends "base.html" %}
{% load common i18n humanize %}
{% block title %}{% trans 'Finished auction' %} - {{ item.auction.title }}{% endblock %}

{% block head %}
    <script src="{{ MEDIA_URL }}js/jquery.rating.pack.js" type="text/javascript"></script>
    <link href="{{ MEDIA_URL }}css/jquery.rating.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <p style="font-size: 12px; padding:0; margin:0; padding-top: 10px;"><a
            href="{% url auction %}">&laquo; {% trans 'back to auctions' %}</a></p>

    <div style="display:block; float:none; margin:0 0 1em; overflow:hidden; position:static; width:auto;">
        <div style="width: 70%; display: block; float: left; margin-left: 0%; font-size: 12px;">
            <h2>{{ item.auction.title }}</h2>
            <table>
                <tbody>
                <tr>
                    <td>{% trans 'Ended' %}:</td>
                    <td><b>{{ item.auction.end_at|timestr }}</b></td>
                </tr>
                <tr>
                    <td>{% trans 'Seller' %}:</td>
                    <td><b>{{ item.auction.seller }}</b></td>
                </tr>
                {% ifequal item.details.product_type 'car' %}
                    {# <tr><td>{% trans 'Look' %}:</td><td style="padding-top: 7px; padding-left: 12px;"> #}
                    {# 	<div id="star-{{ forloop.counter }}" class="rating"></div> #}
                    {# 	<script type="text/javascript">$('#star-{{ forloop.counter }}').rating(null, {maxvalue:5, curvalue:{{ item.details.look|DIV:2 }}});</script> #}
                    {# 	</td> #}
                    {# </tr> #}
                    <tr>
                        <td>{% trans 'Respect' %}:</td>
                        <td><span class="respect">+<b>{{ item.item.respect|intcomma }}</b></span></td>
                    </tr>
                    <tr>
                        <td>{% trans 'Year' %}:</td>
                        <td><b>{{ item.details.year }}</b></td>
                    </tr>
                    <tr>
                        <td>{% trans 'Engine' %}:</td>
                        <td><b>{{ item.details.engine }}</b> / <b>{{ item.details.hp }}</b> {% trans 'HP' %}</td>
                    </tr>
                {% endifequal %}
                </tbody>
            </table>
        </div>
        <div style="width: 25%; display: block; margin-left: 70%; padding-top: 10px;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td style="border-top: 1px solid rgb(119, 144, 182); border-bottom: 1px solid rgb(119, 144, 182); background: rgb(214, 224, 248) none repeat scroll 0% 0%; text-align: center; padding-top: 2px; padding-bottom: 2px; height: 18px; font-size: 10.5pt; font-weight: bold; white-space: nowrap; color: rgb(77, 77, 77);">{% trans 'Finished' %}</td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px solid rgb(68, 112, 185); padding: 4px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; text-align: center;">
                        {% if item.bids %}
                            <h3>{% trans 'Sold for' %} ${{ item.auction.current_price|intcomma }}</h3>
                        {% else %}
                            <h3>{% trans 'There were no buy offers' %}</h3>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <img src="{{ settings.BASE_MEDIA_URL }}{{ item.item.image_filename }}" alt="{{ item.item.name }}"/>

    {% if item.bids %}
        <h2>{% trans 'Bids' %}</h2>
        <table class="data" style="width: 500px;">
            <tbody>
            {% for bid in item.bids %}
                <tr class="{% cycle '' 'odd' %}">
                    <td style="width: 30%" class="name"><b>{{ bid.buyer }}</b></td>
                    <td style="width: 30%" class="name">$<b>{{ bid.price|intcomma }}</b></td>
                    <td>{{ bid.updated_at|timestr }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}